@page
@model ToDoApplication.Pages.TaskList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Task</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDoItem.Id" />
            <div class="form-group">
                <label asp-for="ToDoItem.Title" class="control-label"></label>
                <input asp-for="ToDoItem.Title" class="form-control" />
                <span asp-validation-for="ToDoItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoItem.IsCompleted" class="control-label"></label>
                <input asp-for="ToDoItem.IsCompleted" class="form-control" />
                <span asp-validation-for="ToDoItem.IsCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoItem.Assignto"></label>
                <select asp-for="ToDoItem.Assignto" asp-items="Model.AssigntoOptions" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
